# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
android/.gradle/
android/app/build/
**/Generated.xcconfig
**/flutter_export_environment.sh
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral
**/Pods
**/.symlinks
**/DerivedData
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.dart_tool
**/.package
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
.melospb
